@use "base";

//Ljusttema
@mixin dark-text {
    color: base.$dark-font-color;
  }
@media (prefers-color-scheme: light) {
    body { // Bakgrundsfärg hela sidan
        background-color: base.$primary-color;
        @include dark-text; // Mörk text

        .navmenu a { // Länkar navmenu
            @include dark-text; // Mörk text
        }
        .menu-btn { // Menubutton
            background-color: base.$primary-color;
            @include dark-text;
        }
        .bars {
            background-color: base.$dark-font-color;
        }
        .menutext {
            @include dark-text;
        }
        .main { // Bakgrundsfärg innehåll
            background-color: base.$lighten-color;
            @include dark-text; // Mörk text
        }
    }
}
// Mörkttema
@mixin light-text {
    color: base.$light-font-color;
  }
@media (prefers-color-scheme: dark) {
    body { // Bakgrundsfärg hela sidan
        background-color: base.$darken-color;
        @include light-text; // Ljustext
    
        .navmenu a { // länkar navmenu
            @include light-text; // Ljustext på meny
        }
        .menu-btn { // Menubutton
            background-color: base.$secondary-color;
            @include light-text;
        }
        .bars {
            background-color: base.$secondary-color;
        }
        .menutext {
            @include light-text;
        }
        .main { // Bakgrundsfärg innehåll
            background-color: base.$secondary-color;
            @include light-text; // Ljustext
        }
    }
}